@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* font-family: 'Press Start 2P', cursive; */

@font-face {
    font-family: 'nes';
    src: url(../img/font/kongtext.ttf);
}

* {
    font-family: 'nes';
}

body {
    background-image: url('../img/fond.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-top: 10px;
}

div {
    display: flex;
    flex-direction: column;
}

#allies,
#enemies {
    display: flex;
    justify-content: center;
    align-items: center;
}

#enemies {
    margin-left: -15rem;
    margin-top: 365px;
    display: flex;
    flex-direction: column;
}

#enemies img {
    margin: 0rem 3rem 0rem 3rem;
    width: 100px;
}

progress {
    height: 18px!important;
    width: 180px!important;
}

#allies div {
    margin: -15px 20px 0rem 20px;
    align-items: center;
}

#druid {
    margin-top: 20px!important;
}

#guerrier {
    margin-top: 2px!important;
}

#guerrier img {
    width: 100px;
    margin-bottom: 8px;
}

#magicien img {
    width: 120px;
}

#druide img {
    width: 90px;
    margin-bottom: 20px;
}

div button {
    margin-bottom: 1rem!important;
    width: 10rem;
}

.nes-container {
    width: 500px;
    background-color: white;
    margin: 50px auto 0 auto;
}

section {
    margin-top: -150px;
}
.die{
    -webkit-filter: grayscale(100%); /* Pour les navigateurs Chrome, Safari, Opera */
    filter: grayscale(100%); /* Firefox */
    }